/*.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
} Não gostei de como ficou então usei o scene builder, vou deixar porque talvez mais tarde eu use*/

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #339dff;
}

.header-background {
    -fx-background-color: #2A4B7C
}

.login-background {
    -fx-background-image: url("../images/fundoinicial.jpg");

    -fx-background-size: cover;

    -fx-background-position: center center;
}